project-11-hr-onboarding/workflow.json
{
    "name": "AI HR Employee Onboarding Pipeline",
    "nodes": [
        {
            "id": "p11-n1",
            "name": "Typeform - New Hire Submission",
            "type": "n8n-nodes-base.typeformTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "parameters": {
                "formId": "{{TYPEFORM_ONBOARDING_FORM_ID}}",
                "simplifyResponse": true
            }
        },
        {
            "id": "p11-n2",
            "name": "Extract & Normalize Employee Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                0
            ],
            "parameters": {
                "jsCode": "const form = $input.item.json;\n\n// Map Typeform answers to clean employee object\n// Adjust field IDs to match your actual Typeform question IDs\nconst employee = {\n  firstName: form.answers?.find(a => a.field?.ref === 'first_name')?.text || form.firstName || '',\n  lastName: form.answers?.find(a => a.field?.ref === 'last_name')?.text || form.lastName || '',\n  personalEmail: form.answers?.find(a => a.field?.ref === 'personal_email')?.email || form.personalEmail || '',\n  phone: form.answers?.find(a => a.field?.ref === 'phone')?.phone_number || form.phone || '',\n  jobTitle: form.answers?.find(a => a.field?.ref === 'job_title')?.text || form.jobTitle || 'Team Member',\n  department: form.answers?.find(a => a.field?.ref === 'department')?.choice?.label || form.department || 'General',\n  startDate: form.answers?.find(a => a.field?.ref === 'start_date')?.date || form.startDate || new Date().toISOString().split('T')[0],\n  managerEmail: form.answers?.find(a => a.field?.ref === 'manager_email')?.email || form.managerEmail || '{{DEFAULT_MANAGER_EMAIL}}',\n  managerName: form.answers?.find(a => a.field?.ref === 'manager_name')?.text || form.managerName || 'Your Manager',\n  workLocation: form.answers?.find(a => a.field?.ref === 'work_location')?.choice?.label || 'Office',\n  tShirtSize: form.answers?.find(a => a.field?.ref === 't_shirt_size')?.choice?.label || 'M',\n  dietaryReqs: form.answers?.find(a => a.field?.ref === 'dietary')?.text || 'None'\n};\n\n// Derived fields\nemployee.fullName = `${employee.firstName} ${employee.lastName}`;\nemployee.companyEmail = `${employee.firstName.toLowerCase()}.${employee.lastName.toLowerCase()}@{{COMPANY_DOMAIN}}`;\nemployee.employeeId = `EMP-${Date.now().toString().slice(-6)}`;\nemployee.slackDisplayName = `${employee.firstName} ${employee.lastName}`;\nemployee.startDateFormatted = new Date(employee.startDate).toLocaleDateString('en-AU', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nemployee.submittedAt = new Date().toISOString();\n\nif (!employee.personalEmail) throw new Error('No personal email in Typeform submission');\n\nreturn { json: employee };"
            }
        },
        {
            "id": "p11-n3",
            "name": "Claude - Generate Personalised Welcome Package",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                440,
                0
            ],
            "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "{{ANTHROPIC_API_KEY}}"
                        },
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ model: 'claude-3-5-sonnet-20241022', max_tokens: 1500, temperature: 0.7, system: 'You are a warm, enthusiastic HR professional at a forward-thinking company. Write personalized, genuine onboarding content that makes new team members feel genuinely excited and welcomed. Avoid corporate jargon. Be specific about the role and department.', messages: [{ role: 'user', content: 'Create a personalised welcome package for:\\n\\nNAME: ' + $json.firstName + ' ' + $json.lastName + '\\nROLE: ' + $json.jobTitle + '\\nDEPARTMENT: ' + $json.department + '\\nSTART DATE: ' + $json.startDateFormatted + '\\nWORK LOCATION: ' + $json.workLocation + '\\nMANAGER: ' + $json.managerName + '\\n\\nReturn ONLY this JSON structure:\\n{\\n  \"welcomeEmailSubject\": \"...\",\\n  \"welcomeEmailBody\": \"Full HTML email welcoming them, 3-4 paragraphs, mention their role and department, include excitement about what they\\'ll achieve, mention their manager, end with practical first-day info prompt\",\\n  \"slackWelcomeMessage\": \"Short, warm, fun Slack DM (under 100 words) welcoming them to the team\",\\n  \"firstWeekChecklist\": [\"Day 1 task 1\", \"Day 1 task 2\", \"Day 2 task\", \"Day 3 task\", \"End of week task\"],\\n  \"onboardingBuddyNote\": \"A personal note to send to their assigned onboarding buddy explaining who the new hire is and 2-3 conversation starters based on their role\"\\n}' }] }) }}"
            }
        },
        {
            "id": "p11-n4",
            "name": "Parse Welcome Package",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                0
            ],
            "parameters": {
                "jsCode": "const raw = $input.item.json.content?.[0]?.text || '{}';\nconst employee = $('Extract & Normalize Employee Data').item.json;\nlet welcome;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  welcome = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  welcome = {\n    welcomeEmailSubject: `Welcome to the team, ${employee.firstName}!`,\n    welcomeEmailBody: `<p>Dear ${employee.firstName},</p><p>Welcome to the team! We are thrilled to have you joining as ${employee.jobTitle}. Your start date is ${employee.startDateFormatted}.</p><p>Best regards,<br>The HR Team</p>`,\n    slackWelcomeMessage: `Hey ${employee.firstName}! Welcome to the team! So excited to have you here 🎉`,\n    firstWeekChecklist: ['Complete IT setup', 'Meet your manager', 'Team introduction call', 'Review company handbook'],\n    onboardingBuddyNote: `This is ${employee.firstName}, joining as ${employee.jobTitle}.`\n  };\n}\nreturn {\n  json: {\n    ...employee,\n    welcomeEmailSubject: welcome.welcomeEmailSubject,\n    welcomeEmailBody: welcome.welcomeEmailBody,\n    slackWelcomeMessage: welcome.slackWelcomeMessage,\n    firstWeekChecklist: welcome.firstWeekChecklist || [],\n    onboardingBuddyNote: welcome.onboardingBuddyNote\n  }\n};"
            }
        },
        {
            "id": "p11-n5",
            "name": "Gmail - Send Welcome Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                880,
                -200
            ],
            "parameters": {
                "operation": "send",
                "toList": "={{ $json.personalEmail }}",
                "subject": "={{ $json.welcomeEmailSubject }}",
                "message": "={{ $json.welcomeEmailBody }}",
                "options": {
                    "appendAttribution": false
                }
            }
        },
        {
            "id": "p11-n6",
            "name": "DocuSign - Send Employment Contract",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                880,
                0
            ],
            "parameters": {
                "url": "https://demo.docusign.net/restapi/v2.1/accounts/{{DOCUSIGN_ACCOUNT_ID}}/envelopes",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{DOCUSIGN_ACCESS_TOKEN}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ emailSubject: 'Your employment contract — ' + $json.jobTitle + ' at {{COMPANY_NAME}}', emailBlurb: 'Welcome ' + $json.firstName + '! Please sign your employment contract to complete your onboarding.', status: 'sent', templateId: '{{DOCUSIGN_CONTRACT_TEMPLATE_ID}}', templateRoles: [{ email: $json.personalEmail, name: $json.fullName, roleName: 'Employee', tabs: { textTabs: [{ tabLabel: 'JobTitle', value: $json.jobTitle }, { tabLabel: 'Department', value: $json.department }, { tabLabel: 'StartDate', value: $json.startDate }, { tabLabel: 'EmployeeId', value: $json.employeeId }] } }] }) }}"
            }
        },
        {
            "id": "p11-n7",
            "name": "Google Drive - Create Employee Folder",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                880,
                200
            ],
            "parameters": {
                "operation": "createFolder",
                "name": "={{ $json.employeeId + ' — ' + $json.fullName }}",
                "driveId": {
                    "mode": "list",
                    "cachedResultName": "My Drive",
                    "value": "MyDrive"
                },
                "folderId": "={{  '{{GOOGLE_DRIVE_EMPLOYEES_FOLDER_ID}}' }}",
                "options": {}
            }
        },
        {
            "id": "p11-n8",
            "name": "Notion - Create Onboarding Page",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1100,
                -120
            ],
            "parameters": {
                "resource": "page",
                "operation": "create",
                "databaseId": "{{NOTION_EMPLOYEES_DB_ID}}",
                "title": "={{ $json.fullName + ' — ' + $json.jobTitle }}",
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Employee ID",
                            "type": "richText",
                            "textValue": "={{ $json.employeeId }}"
                        },
                        {
                            "key": "Department",
                            "type": "select",
                            "selectValue": "={{ $json.department }}"
                        },
                        {
                            "key": "Job Title",
                            "type": "richText",
                            "textValue": "={{ $json.jobTitle }}"
                        },
                        {
                            "key": "Start Date",
                            "type": "date",
                            "dateValue": "={{ $json.startDate }}"
                        },
                        {
                            "key": "Personal Email",
                            "type": "email",
                            "emailValue": "={{ $json.personalEmail }}"
                        },
                        {
                            "key": "Company Email",
                            "type": "email",
                            "emailValue": "={{ $json.companyEmail }}"
                        },
                        {
                            "key": "Manager",
                            "type": "richText",
                            "textValue": "={{ $json.managerName }}"
                        },
                        {
                            "key": "Work Location",
                            "type": "select",
                            "selectValue": "={{ $json.workLocation }}"
                        },
                        {
                            "key": "Status",
                            "type": "select",
                            "selectValue": "Onboarding"
                        }
                    ]
                },
                "blockUi": {
                    "blockValues": [
                        {
                            "type": "heading_2",
                            "textContent": "First Week Checklist"
                        },
                        {
                            "type": "paragraph",
                            "textContent": "={{ $json.firstWeekChecklist.map(t => '☐ ' + t).join('\\n') }}"
                        },
                        {
                            "type": "heading_2",
                            "textContent": "Employee Details"
                        },
                        {
                            "type": "paragraph",
                            "textContent": "={{ 'Phone: ' + $json.phone + '\\nT-Shirt Size: ' + $json.tShirtSize + '\\nDietary Requirements: ' + $json.dietaryReqs + '\\nEmployee ID: ' + $json.employeeId }}"
                        }
                    ]
                }
            }
        },
        {
            "id": "p11-n9",
            "name": "Airtable - Log to HR Database",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2,
            "position": [
                1100,
                80
            ],
            "parameters": {
                "operation": "create",
                "baseId": "{{AIRTABLE_BASE_ID}}",
                "tableId": "{{AIRTABLE_EMPLOYEES_TABLE}}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Employee ID": "={{ $json.employeeId }}",
                        "Full Name": "={{ $json.fullName }}",
                        "Job Title": "={{ $json.jobTitle }}",
                        "Department": "={{ $json.department }}",
                        "Personal Email": "={{ $json.personalEmail }}",
                        "Company Email": "={{ $json.companyEmail }}",
                        "Phone": "={{ $json.phone }}",
                        "Start Date": "={{ $json.startDate }}",
                        "Manager Email": "={{ $json.managerEmail }}",
                        "Work Location": "={{ $json.workLocation }}",
                        "Status": "Onboarding",
                        "T-Shirt Size": "={{ $json.tShirtSize }}",
                        "Dietary Requirements": "={{ $json.dietaryReqs }}",
                        "Submitted At": "={{ $json.submittedAt }}"
                    }
                }
            }
        },
        {
            "id": "p11-n10",
            "name": "Slack - Post to Team Channel",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2,
            "position": [
                1320,
                -200
            ],
            "parameters": {
                "select": "channel",
                "channelId": {
                    "mode": "name",
                    "value": "general"
                },
                "text": "=:wave: *Welcome our newest team member!*\n\n:star: *{{ $json.fullName }}* is joining as *{{ $json.jobTitle }}* in the *{{ $json.department }}* team!\n\n:calendar: Start date: *{{ $json.startDateFormatted }}*\n:round_pushpin: Location: {{ $json.workLocation }}\n:handshake: Manager: {{ $json.managerName }}\n\nLet's make {{ $json.firstName }} feel at home! :tada:",
                "otherOptions": {}
            }
        },
        {
            "id": "p11-n11",
            "name": "Slack - DM Manager with Summary",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2,
            "position": [
                1320,
                0
            ],
            "parameters": {
                "select": "user",
                "userId": {
                    "mode": "name",
                    "value": "={{ $json.managerEmail.split('@')[0] }}"
                },
                "text": "=:clipboard: *New Hire Onboarding Started — Action Required*\n\n*{{ $json.fullName }}* ({{ $json.jobTitle }}) starts on *{{ $json.startDateFormatted }}*.\n\n*Automated actions completed:*\n✅ Welcome email sent to {{ $json.personalEmail }}\n✅ Employment contract sent via DocuSign\n✅ Employee folder created in Google Drive\n✅ Notion onboarding page created\n✅ HR database record created\n\n*Your to-do list before Day 1:*\n• Set up company email: {{ $json.companyEmail }}\n• Assign IT equipment\n• Book Day 1 welcome lunch/coffee\n• Share first week schedule\n• Assign onboarding buddy\n\n*Employee ID:* {{ $json.employeeId }}\n*Personal Email:* {{ $json.personalEmail }}",
                "otherOptions": {}
            }
        },
        {
            "id": "p11-n12",
            "name": "Slack - DM to HR Team",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2,
            "position": [
                1320,
                200
            ],
            "parameters": {
                "select": "channel",
                "channelId": {
                    "mode": "name",
                    "value": "hr-team"
                },
                "text": "=:briefcase: *New Hire Onboarding Triggered*\n\n*{{ $json.fullName }}* | {{ $json.jobTitle }} | {{ $json.department }}\n*Employee ID:* {{ $json.employeeId }}\n*Start Date:* {{ $json.startDateFormatted }}\n*Personal Email:* {{ $json.personalEmail }}\n*Company Email (to create):* {{ $json.companyEmail }}\n*Manager:* {{ $json.managerName }} ({{ $json.managerEmail }})\n*Work Location:* {{ $json.workLocation }}\n*T-Shirt Size:* {{ $json.tShirtSize }}\n*Dietary Requirements:* {{ $json.dietaryReqs }}\n\n*AI Automated:* Welcome email ✅ | DocuSign ✅ | Drive folder ✅ | Notion ✅ | Airtable ✅\n\n*HR Still Needs To:*\n• Create Google Workspace account ({{ $json.companyEmail }})\n• Order equipment / access card\n• Add to payroll\n• Schedule HR orientation",
                "otherOptions": {}
            }
        },
        {
            "id": "p11-n13",
            "name": "Schedule Reminder - Day Before Start",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1540,
                0
            ],
            "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "{{ANTHROPIC_API_KEY}}"
                        },
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ model: 'claude-3-haiku-20240307', max_tokens: 300, temperature: 0.6, messages: [{ role: 'user', content: 'Write a short, warm \"See you tomorrow!\" email (under 100 words) to ' + $json.firstName + ' who is starting as ' + $json.jobTitle + ' tomorrow (' + $json.startDateFormatted + '). Include: be at the office by 9am, ask for ' + $json.managerName + ' at reception, casual dress code for Day 1. Sign off from The HR Team. Return JSON: {\"subject\": \"...\", \"body\": \"...\"}' }] }) }}"
            }
        },
        {
            "id": "p11-n14",
            "name": "Airtable - Schedule Day-Before Reminder",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2,
            "position": [
                1760,
                0
            ],
            "parameters": {
                "operation": "create",
                "baseId": "{{AIRTABLE_BASE_ID}}",
                "tableId": "{{AIRTABLE_SCHEDULED_EMAILS_TABLE}}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Employee ID": "={{ $('Parse Welcome Package').item.json.employeeId }}",
                        "To Email": "={{ $('Parse Welcome Package').item.json.personalEmail }}",
                        "Send Date": "={{ new Date(new Date($('Parse Welcome Package').item.json.startDate).getTime() - 86400000).toISOString().split('T')[0] }}",
                        "Email Type": "Day-Before Reminder",
                        "Status": "Pending",
                        "Subject": "={{ $input.item.json.content?.[0]?.text?.match(/\"subject\":\\s*\"([^\"]+)\"\/)?.[1] || 'See you tomorrow!' }}",
                        "Body": "={{ $input.item.json.content?.[0]?.text?.match(/\"body\":\\s*\"([^\"]+)\"/)?.[1] || 'Looking forward to seeing you tomorrow!' }}"
                    }
                }
            }
        }
    ],
    "connections": {
        "Typeform - New Hire Submission": {
            "main": [
                [
                    {
                        "node": "Extract & Normalize Employee Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract & Normalize Employee Data": {
            "main": [
                [
                    {
                        "node": "Claude - Generate Personalised Welcome Package",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude - Generate Personalised Welcome Package": {
            "main": [
                [
                    {
                        "node": "Parse Welcome Package",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Welcome Package": {
            "main": [
                [
                    {
                        "node": "Gmail - Send Welcome Email",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "DocuSign - Send Employment Contract",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Google Drive - Create Employee Folder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail - Send Welcome Email": {
            "main": [
                [
                    {
                        "node": "Notion - Create Onboarding Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DocuSign - Send Employment Contract": {
            "main": [
                [
                    {
                        "node": "Airtable - Log to HR Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Drive - Create Employee Folder": {
            "main": [
                [
                    {
                        "node": "Slack - Post to Team Channel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notion - Create Onboarding Page": {
            "main": [
                [
                    {
                        "node": "Slack - DM Manager with Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Airtable - Log to HR Database": {
            "main": [
                [
                    {
                        "node": "Slack - DM to HR Team",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slack - Post to Team Channel": {
            "main": [
                [
                    {
                        "node": "Schedule Reminder - Day Before Start",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slack - DM Manager with Summary": {
            "main": [
                [
                    {
                        "node": "Schedule Reminder - Day Before Start",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slack - DM to HR Team": {
            "main": [
                [
                    {
                        "node": "Schedule Reminder - Day Before Start",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Reminder - Day Before Start": {
            "main": [
                [
                    {
                        "node": "Airtable - Schedule Day-Before Reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}