project-05-b2b-prospecting/workflow.json
{
    "name": "Hyper-Personalized B2B Prospecting Engine",
    "nodes": [
        {
            "id": "p5-n1",
            "name": "Daily Lead Pull Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 24
                        }
                    ]
                }
            }
        },
        {
            "id": "p5-n2",
            "name": "Apollo - Search for New Leads",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                220,
                0
            ],
            "parameters": {
                "url": "https://api.apollo.io/api/v1/mixed_people/search",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Cache-Control",
                            "value": "no-cache"
                        },
                        {
                            "name": "X-Api-Key",
                            "value": "{{APOLLO_API_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={ \"page\": 1, \"per_page\": 25, \"person_titles\": [\"CEO\", \"Founder\", \"Head of Operations\", \"Director of Business Development\", \"VP of Sales\"], \"organization_num_employees_ranges\": [\"11,50\", \"51,200\"], \"person_not_in_sequence\": true, \"contact_email_status_v2\": [\"likely to engage\", \"verified\"] }"
            }
        },
        {
            "id": "p5-n3",
            "name": "Extract People Array",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ],
            "parameters": {
                "jsCode": "const people = $input.item.json.people || [];\nreturn people.map(p => ({\n  json: {\n    id: p.id,\n    firstName: p.first_name || '',\n    lastName: p.last_name || '',\n    email: p.email || '',\n    title: p.title || '',\n    linkedinUrl: p.linkedin_url || '',\n    companyName: p.organization?.name || '',\n    companyWebsite: p.organization?.website_url || '',\n    companyLinkedIn: p.organization?.linkedin_url || '',\n    city: p.city || '',\n    country: p.country || '',\n    industry: p.organization?.industry || ''\n  }\n}));"
            }
        },
        {
            "id": "p5-n4",
            "name": "Filter - Has Email and Company",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                660,
                0
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.email }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        },
                        {
                            "leftValue": "={{ $json.companyWebsite }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            }
        },
        {
            "id": "p5-n5",
            "name": "Firecrawl - Scrape Company Website",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                880,
                0
            ],
            "parameters": {
                "url": "https://api.firecrawl.dev/v1/scrape",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{FIRECRAWL_API_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ url: $json.companyWebsite, formats: ['markdown'], onlyMainContent: true, actions: [], waitFor: 2000 }) }}"
            }
        },
        {
            "id": "p5-n6",
            "name": "Google Search - Latest Company News",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1100,
                0
            ],
            "parameters": {
                "url": "https://www.googleapis.com/customsearch/v1",
                "method": "GET",
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "{{GOOGLE_SEARCH_API_KEY}}"
                        },
                        {
                            "name": "cx",
                            "value": "{{GOOGLE_SEARCH_ENGINE_ID}}"
                        },
                        {
                            "name": "q",
                            "value": "={{ $('Extract People Array').item.json.companyName + ' news funding product launch 2025 2026' }}"
                        },
                        {
                            "name": "num",
                            "value": "3"
                        },
                        {
                            "name": "dateRestrict",
                            "value": "m6"
                        }
                    ]
                }
            }
        },
        {
            "id": "p5-n7",
            "name": "Extract Research Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1320,
                0
            ],
            "parameters": {
                "jsCode": "const lead = $('Extract People Array').item.json;\nconst websiteContent = $('Firecrawl - Scrape Company Website').item.json.data?.markdown || 'Website content unavailable';\nconst newsItems = $('Google Search - Latest Company News').item.json.items || [];\n\n// Extract top news snippets\nconst newsSnippets = newsItems.slice(0, 3).map((item, i) => {\n  return `${i+1}. ${item.title}\\n   ${item.snippet}\\n   Source: ${item.displayLink}`;\n}).join('\\n\\n');\n\n// Trim website content to avoid token overflow\nconst websiteSummary = websiteContent.substring(0, 2000);\n\nreturn {\n  json: {\n    lead,\n    websiteSummary,\n    newsSnippets,\n    hasNews: newsItems.length > 0,\n    latestNewsTitle: newsItems[0]?.title || ''\n  }\n};"
            }
        },
        {
            "id": "p5-n8",
            "name": "Claude - Write Personalized Hook",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1540,
                0
            ],
            "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "{{ANTHROPIC_API_KEY}}"
                        },
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ model: 'claude-3-5-sonnet-20241022', max_tokens: 800, temperature: 0.7, system: 'You are an expert B2B sales copywriter who specializes in highly personalized cold outreach. Your emails are warm, specific, and never sound like a template. You reference real details about the prospect and their company. You never use cliches like \"I came across your profile\" or \"I hope this email finds you well\". Each email feels like it was written for exactly that one person.', messages: [{ role: 'user', content: 'Write a personalized cold outreach email for this prospect:\\n\\nNAME: ' + $json.lead.firstName + ' ' + $json.lead.lastName + '\\nTITLE: ' + $json.lead.title + '\\nCOMPANY: ' + $json.lead.companyName + '\\nINDUSTRY: ' + $json.lead.industry + '\\nLOCATION: ' + $json.lead.city + ', ' + $json.lead.country + '\\n\\nCOMPANY WEBSITE SUMMARY:\\n' + $json.websiteSummary + '\\n\\nLATEST COMPANY NEWS:\\n' + $json.newsSnippets + '\\n\\nWRITE:\\n1. Subject line (compelling, specific, max 8 words)\\n2. Email body (max 120 words, conversational, end with a soft CTA to book a 15-min call)\\n\\nOur service: Business process automation using AI and n8n workflows.\\nOur USP: We reduce operational overhead by 40-70% without hiring extra staff.\\n\\nOutput JSON only:\\n{\"subject\": \"...\", \"body\": \"...\", \"personalizationHook\": \"what specific detail was used\"}' }] }) }}"
            }
        },
        {
            "id": "p5-n9",
            "name": "Parse Email JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1760,
                0
            ],
            "parameters": {
                "jsCode": "const text = $input.item.json.content?.[0]?.text || '{}';\nlet emailData;\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  emailData = match ? JSON.parse(match[0]) : { subject: 'Quick question for you', body: text, personalizationHook: 'general' };\n} catch(e) {\n  emailData = { subject: 'Automation opportunity', body: text, personalizationHook: 'fallback' };\n}\nconst lead = $('Extract People Array').item.json;\nreturn {\n  json: {\n    toEmail: lead.email,\n    toFirstName: lead.firstName,\n    toLastName: lead.lastName,\n    toTitle: lead.title,\n    toCompany: lead.companyName,\n    subject: emailData.subject,\n    body: emailData.body,\n    personalizationHook: emailData.personalizationHook,\n    apolloId: lead.id,\n    generatedAt: new Date().toISOString()\n  }\n};"
            }
        },
        {
            "id": "p5-n10",
            "name": "Quality Gate - Check Email Length",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1980,
                0
            ],
            "parameters": {
                "conditions": {
                    "conditions": [
                        {
                            "leftValue": "={{ $json.body.length }}",
                            "rightValue": 50,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        },
                        {
                            "leftValue": "={{ $json.body.length }}",
                            "rightValue": 900,
                            "operator": {
                                "type": "number",
                                "operation": "lt"
                            }
                        },
                        {
                            "leftValue": "={{ $json.subject.length }}",
                            "rightValue": 5,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            }
        },
        {
            "id": "p5-n11",
            "name": "Instantly - Add to Campaign",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                2200,
                -120
            ],
            "parameters": {
                "url": "https://api.instantly.ai/api/v2/leads",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{INSTANTLY_API_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ campaign_id: '{{INSTANTLY_CAMPAIGN_ID}}', leads: [{ email: $json.toEmail, first_name: $json.toFirstName, last_name: $json.toLastName, company_name: $json.toCompany, custom_variables: { custom_subject: $json.subject, custom_opening: $json.personalizationHook } }], send_first_email_now: false }) }}"
            }
        },
        {
            "id": "p5-n12",
            "name": "Salesforce - Log Activity",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                2420,
                -120
            ],
            "parameters": {
                "url": "https://{{SALESFORCE_INSTANCE}}.salesforce.com/services/data/v59.0/sobjects/Lead",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SALESFORCE_ACCESS_TOKEN}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ FirstName: $json.toFirstName, LastName: $json.toLastName, Email: $json.toEmail, Title: $json.toTitle, Company: $json.toCompany, LeadSource: 'Apollo - AI Prospecting', Status: 'Contacted', Description: 'AI Outreach - ' + $json.personalizationHook + ' | Subject: ' + $json.subject }) }}"
            }
        },
        {
            "id": "p5-n13",
            "name": "Slack - Outreach Sent Summary",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2,
            "position": [
                2640,
                -120
            ],
            "parameters": {
                "select": "channel",
                "channelId": {
                    "mode": "name",
                    "value": "b2b-outreach"
                },
                "text": "=:email: *Personalized Email Queued*\n\n*To:* {{ $json.toFirstName }} {{ $json.toLastName }} — {{ $json.toTitle }} @ {{ $json.toCompany }}\n*Subject:* {{ $json.subject }}\n*Personalization Hook:* {{ $json.personalizationHook }}\n*Generated:* {{ $json.generatedAt }}",
                "otherOptions": {}
            }
        },
        {
            "id": "p5-n14",
            "name": "Log Rejected Emails",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2200,
                120
            ],
            "parameters": {
                "jsCode": "// Log emails that failed quality check\nconsole.log('Email quality check FAILED:', JSON.stringify({ email: $json.toEmail, bodyLength: $json.body?.length, subjectLength: $json.subject?.length }));\nreturn { json: { skipped: true, reason: 'Email too short, too long, or empty subject', email: $json.toEmail } };"
            }
        }
    ],
    "connections": {
        "Daily Lead Pull Trigger": {
            "main": [
                [
                    {
                        "node": "Apollo - Search for New Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Apollo - Search for New Leads": {
            "main": [
                [
                    {
                        "node": "Extract People Array",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract People Array": {
            "main": [
                [
                    {
                        "node": "Filter - Has Email and Company",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter - Has Email and Company": {
            "main": [
                [
                    {
                        "node": "Firecrawl - Scrape Company Website",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Firecrawl - Scrape Company Website": {
            "main": [
                [
                    {
                        "node": "Google Search - Latest Company News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Search - Latest Company News": {
            "main": [
                [
                    {
                        "node": "Extract Research Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Research Context": {
            "main": [
                [
                    {
                        "node": "Claude - Write Personalized Hook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude - Write Personalized Hook": {
            "main": [
                [
                    {
                        "node": "Parse Email JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Email JSON": {
            "main": [
                [
                    {
                        "node": "Quality Gate - Check Email Length",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Quality Gate - Check Email Length": {
            "main": [
                [
                    {
                        "node": "Instantly - Add to Campaign",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Rejected Emails",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Instantly - Add to Campaign": {
            "main": [
                [
                    {
                        "node": "Salesforce - Log Activity",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Salesforce - Log Activity": {
            "main": [
                [
                    {
                        "node": "Slack - Outreach Sent Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}